<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">

      <!--  My photo, appears after loading -->
      <img style="max-width: 80%; height: auto; position: relative; border-radius: 10%; display: block; margin: 0 auto; top: 0px;"
            src="{{ site.url }}/images/me260.jpg">
      <script type="text/javascript">
        var image = document.images[0];
        var downloadingImage = new Image();
        downloadingImage.onload = function(){
          image.src = this.src;
        };
        downloadingImage.src = "{{ site.url }}/images/me260.jpg";
      </script>


      <h2>
        <a href="{{ site.url }}">
          <strong>
            <font size="7" face="cursive">
              {{ site.title }}
            </font>
          </strong>
        </a>
      </h2>
      <p class="lead"><font size="4.7" face="monospace">{{ site.description }}</font></p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}/blog">Blog</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/blog/demo">Project</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/slides">Slides</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/resume">Resume</a>
    </nav>

    <p2>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p2>
  </div>
</div>
